---
layout: page
title: 首页
---
<div class="row">
  {% for post in paginator.posts %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
        </div>
        <div class="panel-body">
          {{ post.description }} 
          <br><small><a href="{{ site.url }}{{ post.url }}">继续阅读 <i class="icon-arrow-right"></i></a></small>
        </div>
        <div class="panel-footer">
          由作者 <a href="/pages/about.html">{{ site.author.name }}</a> 发布于 <a href='/pages/archive.html#{{ post.date | date:"%Y-%m"}}'>{{ post.date | date:"%Y年%m月%d日" }}</a> 分类: {% for category in post.category %} <a href="/pages/categories.html#{{ category }}">{{ category }}</a> {% endfor %}  标签: {% for tag in post.tags %} <a href="/pages/tags.html#{{ tag }}">#{{ tag }}#</a> {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="col-md-12">
    {% include paginator.html %}
  </div>
</div>

