---
layout: page
title: Home
---
<div class="row">
  {% for post in paginator.posts %}
    <div class="span9">
      <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>由作者 <a href="">{{ site.author.name }}</a> 发布于 <a href="">{{ post.date | date:"%Y年%m月%d日" }}{{ post.tags }}</a> </p>
      <blockquote>
        <p>{{ post.description }} <a href="{{ site.url }}{{ post.url }}">继续阅读</a></p>
      </blockquote>
      <p>分类 {% for category in post.category %} <a href="">{{ category }}</a> {% endfor %} | 标签{% for tag in post.tags %} <a href="">#{{ tag }}#</a> {% endfor %}</p>
      <hr>
    </div>
  {% endfor %}
  <div class="span9">
    <div class="pagination pagination-centered">
      <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li><a href="/">&laquo;</a></li>
        {% else %}
        <li><a href="/page{{paginator.previous_page}}">&laquo;</a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
      {% endif %}

      {% if paginator.page == 1 %}
        <li class="active"><a href="#">1</a></li>
      {% else %}
        <li><a href="/">1</a></li>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="active"><a href="#">{{count}}</a></li>
        {% else %}
          <li><a href="/page{{count}}">{{count}}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li><a href="/page{{paginator.next_page}}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
      </ul>
    </div>  
  </div>
</div>

