html,body {
  height: 100%;
  background: #DDDCE2 url(../img/body_bg.jpg) repeat left top;
}
body{padding-top: 70px;}
.body_wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
.body_push{height:100px;}
.body_footer {height:100px;background-color: #f5f5f5;}
.body_footer .container{padding-top: 30px;padding-bottom: 30px;}
@media screen and (min-width: 992px) {
  .affix {top:70px;}
  .aside {width: 226px;}
}
@media print {
  .page-header,
  .navbar,
  .post_title_meta,
  .post_foot_meta,
  .side_nav,
  .body_footer{
      display:none;
  }
}
.content p{text-indent: 2em;}
.content img{text-align:center;}
.content {font-size:18px;line-height:1.8;}
.content h2,h3{line-height: 2;}
blockquote p{font-size:20px;}
.panel-title {font-size:18px;}
.panel-body {font-size:16px;}
