html,
body {height: 100%;}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 40px;  
    /*background-color: #f5f5f5;*/
}
@media (min-width: 767px) {
  .affix {
    top:10px;
  }
}
