.container {
  max-width: 100%;
  height:100%;
}
body,html{
  margin:0px;
  height:100%;
  overflow:hidden;
  background-color: #1f2c39;
}
.row{
  height:100%;
}
.aside1{
  background-color: #1f2c39;
  height:100%;
  padding-left: 0px;
  padding-right:0px;
  text-align:center;
}
.aside1 > .nav > li > a{
  padding-left: 0px;
  padding-right: 0px;
  border-radius:0px;
}
.avatar{
  width:50px;
  height:50px;
}
.aside{
  height:100%;
}
.aside2{
  background-color: #fafaf6;
  height:100%;
  border-left: 5px solid #18bc9c;
  border-right: 5px solid #18bc9c;
  overflow-y: auto;
}
.aside3{
  height:100%;
  overflow-y: auto;
  background-color: #fafaf6;
}
.aside3-title{
  background-color: #1f2c39;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #FFF;
}
.aside3-content{
  padding-left: 30px;
  padding-right: 30px;
}
/*offcanvas*/
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -85%; 
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -85%; 
  }
  .row-offcanvas-right.active {
    right: 92%; 
  }
  .row-offcanvas-left.active {
    left: 92%; 
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 85%; 
  }
}
#content {font-size:18px;line-height:1.8;}
#content h2,h3{line-height: 2;}
blockquote p{font-size:20px;}
.center {text-align: center;}