<aside id="sidebar">
  <nav id="tags">
    <a href="/index.html" id="avatar" style="background-image:url({{ site.avatar }})"></a>

    <ul id="tags__ul">
      <li id="pl__all" class="tags__li tags-btn active">所有文章</li>
      {% for category in site.categories %} 
        <li id="{{ category[0] }}" class="tags__li tags-btn">{{ category[0] }}</li>
      {% endfor %}
    </ul>

    <div id="tags__bottom">
      <a href="mailto:{{ site.author.email }}" id="icon-email" class="tags-btn fontello"></a>
      <a href="/pages/rss.xml" id="icon-feed" class="tags-btn fontello"></a>
    </div>
  </nav> <!-- end #tags -->

  <div id="posts-list">
    <form action="" id="search-form">
      <a href="/index.html" id="mobile-avatar" style="background-image:url({{ site.avatar }})"></a>
      <!-- NOTE: input field is disabled by default -->
      <input id="search-input" type="text" placeholder="Search..." disabled >
    </form>

    <nav id="pl__container">
    {% for post in site.posts %}
      <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
    {% endfor %}
    </nav>
  </div> <!-- end #posts-list -->
</aside> <!-- end #sidebar -->