<aside id="sidebar">
  <nav id="tags">
    <a id="sidebar-avatar" href="{{ "/" | prepend: site.baseurl }}">
      <img id="sidebar-avatar-img" alt="{{ site.tittle }}" src="{{ "/assets/img/avatar.jpg" | prepend: site.avatar }}"/>
    </a>
    <div id="sidebar-social">
      <a href="{{ "/pages/rss.xml" | prepend: site.baseurl }}" class="sidebar-social-icon feed"></a>
      <a href="mailto:{{ site.author.email }}" class="sidebar-social-icon email"></a>
      {% if site.twitter %}
        <a href="https://twitter.com/{{ site.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
      {% endif %}

      {% if site.weibo %}
        <a href="http://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
      {% endif %}

      {% if site.github %}
        <a href="https://github.com/{{ site.github }}" class="sidebar-social-icon github" target="_blank"></a>
      {% endif %}

      {% if site.codepen %}
        <a href="http://codepen.io/{{ site.codepen }}" class="sidebar-social-icon codepen" target="_blank"></a>
      {% endif %}

      {% if site.dribbble %}
        <a href="https://dribbble.com/{{ site.dribbble }}" class="sidebar-social-icon dribbble" target="_blank"></a>
      {% endif %}
    </div>

    <ul id="tags__ul">
      <li id="pl__all" class="tags__li tags-btn active">全部</li>
      {% for category in site.categories %} 
        <li id="{{ category[0] }}" class="tags__li tags-btn">{{ category[0] }}</li>
      {% endfor %}
      <li class="tags__li tags-btn">标签
          {% for tag in site.tags %} 
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#{{ tag[0] }}">{{ tag[0}}</a>
                  <span class="badge pull-right">{{ tag[1].size }}</span>
                </h4>
              </div>
              <div id="{{ tag[0] }}" class="panel-collapse collapse">
                {% for post in tag[1] %}
                  <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                    {{post.title}}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
      </li>
    </ul>
  </nav> <!-- end #tags -->

  <div id="posts-list">
    <form action="" id="search-form">
      <a href="/index.html" id="mobile-avatar" style="background-image:url({{ site.avatar }})"></a>
      <!-- NOTE: input field is disabled by default -->
      <input id="search-input" type="text" placeholder="Search..." disabled >
    </form>

    <nav id="pl__container">
    {% for post in site.posts %}
      <a class="{{ post.categories }} pl__all" href="{{ post.url }}"><span class="pl__circle"></span><span class="pl__title">{{ post.title }}</span><span class="pl__date">{{ post.date | date: "%b %Y" }}</span></a>
    {% endfor %}
    </nav>
  </div> <!-- end #posts-list -->
</aside> <!-- end #sidebar -->