<div class="title">
  <h1>紫月冰河</h1>
  <h4>——但行好事，莫问前程</h4>  
</div>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">SuYan</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/"><i class="icon-home icon-white"></i>首页</a></li> 
      <li><a href="/pages/categories.html"><i class="icon-th-large icon-white"></i>分类</a></li> 
      <li><a href="/pages/tags.html"><i class="icon-tags icon-white"></i>标签</a></li> 
      <li><a href="/pages/archive.html"><i class="icon-file icon-white"></i>归档</a></li> 
      <li><a href="/pages/atom.xml"><i class="icon-rss icon-white"></i>订阅</a></li> 
      <li><a href="/pages/about.html"><i class="icon-user icon-white"></i>关于</a></li> 
    </ul>
  </div>
</nav>