<h1>紫月冰河</h1>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="/"><i class="icon-home icon-white"></i>首页</a></li> 
      <li><a href="/pages/categories.html"><i class="icon-th-large icon-white"></i>分类</a></li> 
      <li><a href="/pages/tags.html"><i class="icon-tags icon-white"></i>标签</a></li> 
      <li><a href="/pages/archive.html"><i class="icon-file icon-white"></i>归档</a></li> 
      <li><a href="/pages/atom.xml"><i class="icon-rss icon-white"></i>订阅</a></li> 
    </ul>
  </div>
</div>