<!-- Generate icon by yourself https://icomoon.io/app/#/select -->
{% if site.twitter %}
  <a href="https://twitter.com/{{ site.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.weibo %}
  <a href="http://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.github %}
  <a href="https://github.com/{{ site.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

{% if site.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="sidebar-social-icon linkedin" target="_blank"></a>
{% endif %}

{% if site.instagram %}
  <a href="https://www.instagram.com/{{ site.instagram }}" class="sidebar-social-icon instagram" target="_blank"></a>
{% endif %}