@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icon/icomoon.eot?ul7tfk');
  src:  url('../assets/icon/icomoon.eot?ul7tfk#iefix') format('embedded-opentype'),
    url('../assets/icon/icomoon.ttf?ul7tfk') format('truetype'),
    url('../assets/icon/icomoon.woff?ul7tfk') format('woff'),
    url('../assets/icon/icomoon.svg?ul7tfk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%icon-evernote {
  content: "\e900";
}
%icon-chevron-right {
  content: "\e901";
}
%icon-price-tags {
  content: "\e936";
}
%icon-envelop {
  content: "\e945";
}
%icon-clock {
  content: "\e94e";
}
%icon-bubble {
  content: "\e96b";
}
%icon-quotes-left {
  content: "\e977";
}
%icon-search {
  content: "\e986";
}
%icon-enlarge2 {
  content: "\e98b";
}
%icon-shrink2 {
  content: "\e98c";
}
%icon-list {
  content: "\e9ba";
}
%icon-instagram {
  content: "\ea92";
}
%icon-twitter {
  content: "\ea96";
}
%icon-sina-weibo {
  content: "\ea9a";
}
%icon-rss {
  content: "\ea9b";
}
%icon-dropbox {
  content: "\eaae";
}
%icon-github {
  content: "\eab0";
}
%icon-linkedin {
  content: "\eac9";
}
%icon-stackoverflow {
  content: "\ead0";
}

