---
layout: base
title: 分类
comments: false
---
<p>
  {% for category in site.categories %}
    <a href="/pages/categories.html#{{ category | first }}"><h3 style="display:inline;"><span class="label label-primary">{{ category[0] }}({{ category | last | size }})</span></h3></a> 
  {% endfor %}
</p>
<hr>
{% for category in site.categories %} 
  <legend id="{{ category[0] }}">{{ category[0] }}</legend>
  <ul>
    {% for post in category[1] %}
      <li><a href='{{ post.url }}'>{{post.title}}</a></li>
    {% endfor %}
  </ul>
{% endfor %}