---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
  </div>
  <div class="col-md-12 aside3-content">
    <!-- info -->
    <div class="row">
      <br>
      <div class="col-md-4 col-xs-12 center">
        <img src="{{ page.cover }}" alt="cover" class="img-thumbnail">
      </div>
      <div class="col-md-8 col-xs-12">
        <table class="table">
          <tbody>
            <tr><td>作者</td><td>{{ page.author }}</td></tr>
            <tr><td>出版商</td><td>{{ page.publisher }}</td></tr>
            <tr><td>语言</td><td>{{ page.language }}</td></tr>
            <tr><td>链接</td><td><a href="{{ page.link }}" title="{{ page.link }}">图书链接</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- content -->
    <div id="content">
      {{ content }}
    </div>
    <hr>
    {% include disqus.html %}
  </div>
</div>

