---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2>{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-12 aside3-content">
    <div class="pull-right panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-toggle="collapse" href="#content-table">目录</a></h4>
      </div>
      <div id="content-table" class="panel-collapse collapse">
        <div class="panel-body" id="nav"></div>
      </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </div>
</div>
<script>
  $(function(){
    $("#content > h2,#content > h3,#content > h4,#content > h5,#content > h6").each(function(i) {
        var current = $(this);
        current.attr("id", "title" + i);
        tag = current.prop('tagName').substr(-1);
        $("#nav").append("<div style='margin-left:"+15*(tag-1)+"px'><a id='link" + i + "' href='#title" +i + "'>" + current.html() + "</a></div>");
    });
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
    $('#content img').addClass('img-thumbnail').parent('p').addClass('center');
  });
</script>